<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AvtoLine</title>
    <link rel="stylesheet" href="../src/css/mainStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="body" id="body">
     <div class="wrapper">
 <header class="header">
        <img src="../src/images/img/logo.png" alt="logo" class="logo">
    <nav class="header_nav">
        <a class="active" href="">Главная</a>
        <a  href="">Услуги</a>
        <a  href="">Каталог</a>
    </nav>
        <img
         class="header_theme_switch" 
         src="../src/images/svg/livhteTeam.svg" 
         alt="header_theme_switch"
         onclick="darckTheme()">
        <img id="icinsBurger" 
            class="header_burger_menu" 
            src="../src/images/svg/burgermenu.svg" 
            alt="burgermenu"
            onclick="openBurger()">
 </header>
 <main class="main">
    <div class="main_contei">
        <img class="main_contei_logo" 
            src="../src/images/img/logo.png" 
            alt="main_contei_logo">
            <DIv class="main_contei_wrapper">
                <span>
                    В нашем автосалоне только честные <br> <span class="red_line"> и проверенные автомобили с 100% </span> <br> гарантией юридической чистоты
                </span>
                <div class="main_contei_wrapper_btn">
                    
                    <button class="main_contei_btn_blek">
                        Каталог авто
                    </button>
                    <button class="main_contei_btn_red" >
                        Получить консультацию
                    </button>
                </div>
                <img class="mainCar" src="../src/images/img/maineCar.png" alt="mainCar">
            </DIv>
    </div>
    <h2 class="main_sluder">НОВЫЕ ПОСТУПЛЕНИЯ</h2>
    <div class="main_contei_slidder">
        
        <img class="main_contei_slidder_arrow prev" 
            src="../src/images/svg/Vector.svg" 
            alt="prev">
                    <div class="main_contei_slidder_item main_contei_slidder_none1" 
                        id="main_contei_slidder_item_none1">
                        <div class="slidder_item_img1">
                        </div>
                        <div class="slidder_item_nase">
                            Honda CR-V, 2008 год
                            </div>
                        <div class="slidder_item_CareCreate">
                            2 часа назад
                        </div>
                        <button 
                            class="main_contei_btn_red">
                        Каталог авто
                        </button>
                    </div>
                    <div class="main_contei_slidder_item main_contei_slidder_none2" 
                        id="main_contei_slidder_item_none2">
                        <div class="slidder_item_img2"></div>
                        <div class="slidder_item_nase"> Honda CR-V, 2008 год</div>
                        <div class="slidder_item_CareCreate">2 часа назад</div>
                        <button 
                        class="main_contei_btn_red"> 
                        Каталог авто
                        </button>
                    </div>
                    <div class="main_contei_slidder_item main_contei_slidder_none3" >
                        <div class="slidder_item_img3"></div>
                        <div class="slidder_item_nase"> Honda CR-V, 2008 год</div>
                        <div class="slidder_item_CareCreate">2 часа назад</div>
                        <button 
                        class="main_contei_btn_red">
                        Каталог авто
                        </button>
                    </div>
              
        <img class="main_contei_slidder_arrow next" 
        src="../src/images/svg/rait.svg" 
        alt="next">
    </div>
    
 </main>
    <footer class="footer">
                    <div class="form-group_i1">
                <a href="" class="footer_naflink_item">Автокредитование</a>
                <a href="" class="footer_naflink_item">Расрочка без банка</a>
                <a href="" class="footer_naflink_item">Обмен</a>
                <a href="" class="footer_naflink_item">Срочный выкуп авто</a>
            </div>
            <div class="form-group_i2">
                <a href="" class="footer_naflink_item">Каталог</a>
                <a href="" class="footer_naflink_item">Техподдержка</a>
            </div>
        
        <div class="form-group_i3 ">
            <img class="fiiter_icons"  src="../src/images/svg/inst.svg" alt="icons">
            <img class="fiiter_icons"  src="../src/images/svg/tg.svg" alt="icons">
            <img class="fiiter_icons"  src="../src/images/svg/truba.svg" alt="icons">
            <img class="fiiter_icons"  src="../src/images/svg/vk.png" alt="icons">
            <img class="fiiter_icons"  src="../src/images/svg/email.svg" alt="icons">
            <img class="fiiter_icons"  src="../src/images/svg/truba.svg" alt="icons">
        </div> 
       
    </footer>
    <div id="popup" class="popup">
        <nav class="popup_nav">
            <a href="#">Главная</a>
            <a href="#">Услуги</a>
            <a href="#">Каталог</a>
            <a href="#">Контакты</a>
        </nav>
    </div>
    </div>
</body>
<script src="../src/js/openBurger.js"></script>
<script>

</script>
</html>